.btn:focus,
.btn:active,
.btn:hover {
  outline: none !important;
  box-shadow: none;
  text-decoration: none !important;
}

.details-table tr {
  border-bottom: 1px solid rgb(238, 238, 238);
}
.details-table td {
  padding: 10px;
}

.navbar-brand {
  font-size: 28px;
}
.navbar-brand .lead {
  font-size: 24px;
}

.nav-link {
  font-size: 18px;
}
